# Modules and Packages

In [1]:
# import the library
import math

In [2]:
# use it (exponentional value)
math.exp(3)

20.085536923187668

In [3]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [4]:
help(math.exp)

Help on built-in function exp in module math:

exp(...)
    exp(x)

    Return e raised to the power of x.

In [5]:
help(math.pow)

Help on built-in function pow in module math:

pow(...)
    pow(x, y)

    Return x**y (x to the power of y).

In [7]:
# Just an example, this won't work
import foo.bar

ModuleNotFoundError: ignored

In [8]:
print('Hello')# if there is any quote at the end of the line it gives End of Line Error (EOL) while scanning the string literal.

Hello

In [9]:
try:
    f = open('testfile','w')
    f.read('write this file')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

TypeError: ignored

In [10]:
try:
    f = open('testfile','r')
    f.write('write this file')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [ ]:
try:
    f = open('testfile','w')
    f.write('write this file')
except IOError:
    # This will check for any exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [ ]:
try:
   f = open("robo.text" , "w")
   f.write("airobosoft")
finally:
            print("airobosoft is a company")

airobosoft is a company

In [ ]:
def askint():
        try:
            val = int(input("Please enter an number: "))
        except:
            print("Looks like you did not enter an number or entered a string ")
            
        finally:
            print("Finally, It executed!")
        print(val)

In [ ]:
askint()

Please enter an number: sadiya
Looks like you did not enter an number or entered a string
Finally, It executed!

UnboundLocalError: local variable 'val' referenced before assignment

In [ ]:
askint()

Please enter an number: 2
Finally, It executed!
2

 we got an error when trying to print val (because it was properly assigned), the right solution is checked by giving the input type as integer:

In [14]:
def askint():
        try:
            val = int(input("Please enter an number: "))
        except:
            print("Looks like you did not enter an integer! or you entered a string")
            val = int(input("Retry-Please enter an number: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [12]:
askint()

Please enter an number: 19
Finally, I executed!
19

In [13]:
askint()

Please enter an number: 24
Finally, I executed!
24

only numbers should be given other than that it gives error..

In [17]:
askint()

Please enter an number: 24
Yep thats an number!
Finally, I executed!

## Database connectivity and operations using Python.

In [ ]:
#!/usr/bin/python

import sqlite3
#connecting with the database.

db = sqlite3.connect("my_database1.db")

# Drop table if it already exist using execute() method.
db.execute("drop table if exists grades1")

# Create table as per requirement
db.execute("create table grades1(id int, place text, score int)")

#inserting values inside the created table
db.execute("insert into grades1(id, place, score) values(1, 'udupi',98 )")
db.execute("insert into grades1(id, place, score) values(2, 'dakshin kannada',97 )")
db.execute("insert into grades1(id, place, score) values(3, 'kodagu', 96 )")
db.execute("insert into grades1(id, place, score) values(4, 'uttara kannada', 95 )")
db.execute("insert into grades1(id, place, score) values(5, 'chikmangalore',60 )")
db.execute("insert into grades1(id, place, score) values(6, 'gulbarga',30 )")
db.execute("insert into grades1(id, place, score) values(7, 'bellary',90 )")

In [ ]:
db.commit()

In [ ]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(1, 'udupi', 98)
(2, 'dakshin kannada', 97)
(3, 'kodagu', 96)
(4, 'uttara kannada', 95)
(5, 'chikmangalore', 60)
(6, 'gulbarga', 30)
(7, 'bellary', 90)
------------------------------------------------------------

In [ ]:
results = db.execute("select * from grades1 where place = 'uttara kannada' ")
for row in results:
    print(row)
print("-" * 60 )

(4, 'uttara kannada', 95)
------------------------------------------------------------

In [ ]:
results = db.execute("select * from grades1 where score <= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(5, 'chikmangalore', 60)
(6, 'gulbarga', 30)
(7, 'bellary', 90)
------------------------------------------------------------

In [ ]:
results = db.execute("select place, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('udupi', 98)
('dakshin kannada', 97)
('kodagu', 96)
('uttara kannada', 95)
('bellary', 90)
('chikmangalore', 60)
('gulbarga', 30)
------------------------------------------------------------

In [ ]:
results = db.execute("select place, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('gulbarga', 30)
('chikmangalore', 60)
('bellary', 90)
('uttara kannada', 95)
('kodagu', 96)
('dakshin kannada', 97)
('udupi', 98)
------------------------------------------------------------

In [ ]:
results = db.execute("select place, score from grades1 order by score")
for row in results:
    print(row)

('gulbarga', 30)
('chikmangalore', 60)
('bellary', 90)
('uttara kannada', 95)
('kodagu', 96)
('dakshin kannada', 97)
('udupi', 98)